@import base


a
  text-decoration: none
  font-weight: none
  color: darken(darkcyan,10%)
a:visited
  color: darken(darkcyan,10%)
a:hover,active
  color: darkcyan

main
  font-family: $article-font
  a
    text-decoration: none
    font-weight: none
    color: darkcyan
  a:visited
    color: darkcyan
  a:hover,active
    color: darken(darkcyan,10%)
  h1
    line-height: 1.25em
  h1,h2,h3
    font-family: $title-font
  h1,h2
    text-align: center
  ul,li
    list-style-type: lower-greek
    padding-left: 0.5em
  table
    margin-top: 1em
    p
      text-align: justify
      margin-top: 0em
    td
      padding: 0em 1em 0em 0em


.stripe
  background-image: -webkit-linear-gradient(0deg, darkorange 25%, coral 25%, lightsalmon 55%, salmon 45%, indianred 75%, sienna 75%)
  height: 3px

wrapper
  margin: 0 auto 5em
  min-height: 100%
  height: auto !important
  height: 100%

header
  margin: 0em 0em 0.25em 0em
  border-bottom: 1px solid lightgrey
  text-align: center
  h2
    font-family: $title-font
    font-weight: none

nav
  font-family: $nav-font
  h3
    margin: 2em 0em 0em 0em
    padding: 0em
  ul
    padding-left: 0em
    margin-left: 0em
  li
    list-style-type: lower-greek
    margin-left: 0em
    padding-left: 0em

#footer
  text-align: center
  font-family: warnock-pro

#footer,#push
  height: 5em
  clear: both
