@import base

#main-container, #nav-container
  padding: 1em

.navbar
  .pull-right
    padding-top: 1em
  a
    i
      color: darkorange
  .brand
    padding-top: 0.5em
    color: darkorange
    font-family: Montserrat
    font-size: 4em
  .brand:hover
    color: dimgrey
  .small
    display: inline
    font-size: 18px
    color: dimgrey
  .btn-navbar
    margin-top: 25px

a
  text-decoration: none
  font-weight: none
  color: $a-color-alt
a:visited
  color: $a-color-alt
a:hover,active
  color: $a-color
  text-decoration: none

.span9
  font-family: $article-font
  a
    font-weight: none
    color: $a-color
  a:visited
    color: $a-color
  a:hover,active
    color: $a-color-alt
  h1
    line-height: 1.25em
  h1,h2,h3
    font-family: $title-font
  h1,h2
    text-align: center
  h4
    display: inline
  ol
    margin-left: 0.5em
    li
      list-style-type: lower-greek
      padding-left: 0.5em
  ul
    margin-left: 1.75em
    li
      list-style-type: square
      padding-left: 0.25em
  table
    margin-top: 1em
    p
      text-align: justify
      margin-top: 0em
    td
      padding: 0em 1em 0em 0em
  p
    margin-top: 1.5em

.stripe
  width: full
  background-image: -webkit-linear-gradient(0deg, darkorange 25%, coral 25%, lightsalmon 45%, darksalmon 65%, indianred 75%, darken(indianred,10%) 85%)
  height: 4px

.span3
  font-family: $nav-font
  h3
    font-family: $title-font, futura
  ol
    margin-top: 0em
    li
      list-style-type: lower-greek
      margin-left: 0em
      margin-right: 0.5em

#footer
  text-align: center
  font-family: warnock-pro
  color: darken(dimgrey, 10%)
  margin: 2em
  clear: both